.e2_body  {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.e2_title  {
    margin-bottom: 50px;
    text-align:center;
    font-family:"no-roboto", sans-serif;    
}
.e2_dashboard  {
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center
}
.e2_column_1  {
    box-shadow: black 4px 4px 15px 0px;
    width: 50%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    margin: 0 50px 35px 0;
}
.e2_column_2  {
    width: 50%;
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.e2_dropdown  {
    width:200px;
    margin-bottom:25px
}
.e2_graphs  {
    width:100%;
    height:450px;
}
.e2_graph_3  {
    width:90%;
    height:450px;
    margin:15px 0;
    box-shadow:4px 4px 15px 0 black
}
.e2_medidas  {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:80px;
}
.e2_medida  {
    text-align:center;
    width: 100%;
    height: 50px;
    font-family:"no-roboto", sans-serif;
    box-shadow:4px 4px 15px 0 black;
    margin:15px 20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:0 40px
}
.e2_correlacion  {
    text-align:center;
    font-size:1.5em;
    font-family:"no-roboto", sans-serif;
    height:45px;
    box-shadow:4px 4px 15px 0 black;
    margin:15px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:5px 125px
}